# Proyecto Individual 01

# Transformaciones

In [488]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime

In [367]:
# Load CSV files
df = pd.read_csv('./movies_dataset.csv', delimiter=',', encoding='latin1', header=0)
df.head(5)

/var/folders/5b/cj7qp6dx0rb7yfz06c2zb7ww0000gn/T/ipykernel_87951/8884446.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./movies_dataset.csv', delimiter=',', encoding='latin1', header=0)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [368]:
for i in df.iloc[0]:
    print(i)

False
{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}
30000000
[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
http://toystory.disney.com/toy-story
862
tt0114709
en
Toy Story
Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.
21.946943
/rhIRbceoE9lR4veEXuwCC2wARtG.jpg
[{'name': 'Pixar Animation Studios', 'id': 3}]
[{'iso_3166_1': 'US', 'name': 'United States of America'}]
1995-10-30
373554033.0
81.0
[{'iso_639_1': 'en', 'name': 'English'}]
Released
nan
Toy Story
False
7.7
5415.0

<span style="color:orange">Algunos campos, como belongs_to_collection, production_companies y otros (ver diccionario de datos) están anidados, esto es o bien tienen un diccionario o una lista como valores en cada fila, ¡deberán desanidarlos para poder y unirlos al dataset de nuevo hacer alguna de las consultas de la API! O bien buscar la manera de acceder a esos datos sin desanidarlos.</span>

### Unnest column "belongs_to_collection"

In [369]:
import ast

# Define a function to convert a string to a dictionary
def str_to_dict(string):
    try:
        return ast.literal_eval(string)
    except (ValueError, SyntaxError):
        return np.nan

# Apply the function to each row of the 'belongs_to_collection' column
df['belongs_to_collection'] = df['belongs_to_collection'].apply(str_to_dict)

In [370]:
type(df['belongs_to_collection'][0])

dict

In [371]:
# Create new columns from the dictionary in the 'collection' column
df['id_collection'] = df['belongs_to_collection'].apply(lambda x: x['id'] if isinstance(x, dict) else np.nan)
df['collection_name'] = df['belongs_to_collection'].apply(lambda x: x['name'] if isinstance(x, dict) else np.nan)
df.drop('belongs_to_collection', axis=1, inplace=True)

df.head(5)

,adult,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,id_collection,collection_name
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,10194.0,Toy Story Collection
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,NaN
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,119050.0,Grumpy Old Men Collection
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,NaN
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,96871.0,Father of the Bride Collection

### Unnest column "genres"

In [372]:
# Parse the strings into lists of dictionaries
df['genres'] = df['genres'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else [])

# Extract the genre names and join them into a single string
df['genre_names'] = df['genres'].apply(lambda x: ', '.join([d['name'] for d in x]))

# Drop and rename
df.drop('genres', axis=1, inplace=True)
df = df.rename(columns={'genre_names': 'genres'})

In [373]:
df.head(5)

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,id_collection,collection_name,genres
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,10194.0,Toy Story Collection,"Animation, Comedy, Family"
1,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,NaN,"Adventure, Fantasy, Family"
2,False,0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,119050.0,Grumpy Old Men Collection,"Romance, Comedy"
3,False,16000000,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,NaN,"Comedy, Drama, Romance"
4,False,0,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,96871.0,Father of the Bride Collection,Comedy

### Unnest column "production_companies"

In [374]:
df.columns

Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'id_collection',
       'collection_name', 'genres'],
      dtype='object')

In [375]:
# Remove the "[" and "]" symbols
df['production_companies'] = df['production_companies'].str.replace('[', '').str.replace(']', '')

/var/folders/5b/cj7qp6dx0rb7yfz06c2zb7ww0000gn/T/ipykernel_87951/967911470.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['production_companies'] = df['production_companies'].str.replace('[', '').str.replace(']', '')

In [376]:
# Count the number of strings and other types
string_count = df['production_companies'].apply(lambda x: isinstance(x, str)).sum()
other_count = df['production_companies'].apply(lambda x: not isinstance(x, str)).sum()

print(f"Number of strings: {string_count}")
print(f"Number of other types: {other_count}")

Number of strings: 45463
Number of other types: 3

In [377]:
df['production_companies'] = df['production_companies'].apply(lambda x: str(x))

In [378]:
# Count the number of strings and other types
string_count = df['production_companies'].apply(lambda x: isinstance(x, str)).sum()
other_count = df['production_companies'].apply(lambda x: not isinstance(x, str)).sum()

print(f"Number of strings: {string_count}")
print(f"Number of other types: {other_count}")

Number of strings: 45466
Number of other types: 0

In [379]:
def get_companies_names(s):
    if not s:
        return ""
    else:
        names = [x.split(":")[1].strip()[1:-1] for x in s.split(",") if "name" in x]
        return ", ".join(names)


df['production_companies_names'] = df['production_companies'].apply(get_companies_names)

In [380]:
df.drop('production_companies', axis=1, inplace=True)

In [381]:
df = df.rename(columns={'production_companies_names': 'production_companies'})

In [382]:
df.head(3)

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,status,tagline,title,video,vote_average,vote_count,id_collection,collection_name,genres,production_companies
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,Released,NaN,Toy Story,False,7.7,5415.0,10194.0,Toy Story Collection,"Animation, Comedy, Family",Pixar Animation Studios
1,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,NaN,"Adventure, Fantasy, Family","TriStar Pictures, Teitler Film, Interscope Com..."
2,False,0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,119050.0,Grumpy Old Men Collection,"Romance, Comedy","Warner Bros., Lancaster Gate"

### Unnest column "spoken_languages"

In [383]:
df.columns

Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'id_collection', 'collection_name',
       'genres', 'production_companies'],
      dtype='object')

In [384]:
df.columns[14]

'spoken_languages'

In [385]:
df['spoken_languages'][1]

"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'FranÃ§ais'}]"

In [386]:
# Count the number of strings and other types
string_count = df['spoken_languages'].apply(lambda x: isinstance(x, str)).sum()
other_count = df['spoken_languages'].apply(lambda x: not isinstance(x, str)).sum()

print(f"Number of strings: {string_count}")
print(f"Number of other types: {other_count}")

Number of strings: 45460
Number of other types: 6

In [387]:
df['spoken_languages'] = df['spoken_languages'].apply(lambda x: str(x))

In [388]:
# Count the number of strings and other types
string_count = df['spoken_languages'].apply(lambda x: isinstance(x, str)).sum()
other_count = df['spoken_languages'].apply(lambda x: not isinstance(x, str)).sum()

print(f"Number of strings: {string_count}")
print(f"Number of other types: {other_count}")

Number of strings: 45466
Number of other types: 0

In [389]:
def get_spoken_languages(s):
    if not s:
        return ""
    else:
        names = [x.split(":")[1].strip()[1:-1] for x in s.split(",") if "iso_639_1" in x]
        return ", ".join(names)


df['spoken_languages_str'] = df['spoken_languages'].apply(get_spoken_languages)

In [390]:
df.drop('spoken_languages', axis=1, inplace=True)

In [391]:
df = df.rename(columns={'spoken_languages_str': 'spoken_languages'})

### Unnest column "production_countries"

In [392]:
for i in df.iloc[0]:
    print(i)

False
30000000
http://toystory.disney.com/toy-story
862
tt0114709
en
Toy Story
Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.
21.946943
/rhIRbceoE9lR4veEXuwCC2wARtG.jpg
[{'iso_3166_1': 'US', 'name': 'United States of America'}]
1995-10-30
373554033.0
81.0
Released
nan
Toy Story
False
7.7
5415.0
10194.0
Toy Story Collection
Animation, Comedy, Family
Pixar Animation Studios
en

In [393]:
df.columns[10]

'production_countries'

In [394]:
# Count the number of strings and other types
string_count = df['production_countries'].apply(lambda x: isinstance(x, str)).sum()
other_count = df['production_countries'].apply(lambda x: not isinstance(x, str)).sum()

print(f"Number of strings: {string_count}")
print(f"Number of other types: {other_count}")

Number of strings: 45463
Number of other types: 3

In [395]:
df['production_countries'] = df['production_countries'].apply(lambda x: str(x))

In [396]:
# Count the number of strings and other types
string_count = df['production_countries'].apply(lambda x: isinstance(x, str)).sum()
other_count = df['production_countries'].apply(lambda x: not isinstance(x, str)).sum()

print(f"Number of strings: {string_count}")
print(f"Number of other types: {other_count}")

Number of strings: 45466
Number of other types: 0

In [397]:
def get_production_countries(s):
    if not s:
        return ""
    else:
        names = [x.split(":")[1].strip()[1:-1] for x in s.split(",") if "iso_3166_1" in x]
        return ", ".join(names)

df['production_countries_str'] = df['production_countries'].apply(get_production_countries)

In [398]:
df.drop('production_countries', axis=1, inplace=True)

In [399]:
df = df.rename(columns={'production_countries_str': 'production_countries'})

In [400]:
for i in df.iloc[0]:
    print(i)

False
30000000
http://toystory.disney.com/toy-story
862
tt0114709
en
Toy Story
Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.
21.946943
/rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1995-10-30
373554033.0
81.0
Released
nan
Toy Story
False
7.7
5415.0
10194.0
Toy Story Collection
Animation, Comedy, Family
Pixar Animation Studios
en
US

<span style="color:orange">Los valores nulos de los campos revenue, budget deben ser rellenados por el número 0.</span>

### Revenue

In [401]:
# Count null/NaN values
num_null = df['revenue'].isnull().sum()

# Count empty string values
num_empty = (df['revenue'] == '').sum()

print(f'Null values: {num_null}, Empty values: {num_empty}')

Null values: 6, Empty values: 0

In [402]:
# Count the number of float and other types
float_count = df['revenue'].apply(lambda x: isinstance(x, float)).sum()
other_count = df['revenue'].apply(lambda x: not isinstance(x, float)).sum()

print(f"Number of float: {float_count}")
print(f"Number of other types: {other_count}")

Number of float: 45466
Number of other types: 0

In [403]:
df['revenue'].fillna(0, inplace=True)

In [404]:
# Count null/NaN values
num_null = df['revenue'].isnull().sum()

# Count empty string values
num_empty = (df['revenue'] == '').sum()

print(f'Null values: {num_null}, Empty values: {num_empty}')

Null values: 0, Empty values: 0

### Budget

In [405]:
# Count null/NaN values
num_null = df['budget'].isnull().sum()

# Count empty string values
num_empty = (df['budget'] == '').sum()

print(f'Null values: {num_null}, Empty values: {num_empty}')

Null values: 0, Empty values: 0

In [406]:
# Count the number of strings and other types
string_count = df['budget'].apply(lambda x: isinstance(x, str)).sum()
other_count = df['budget'].apply(lambda x: not isinstance(x, str)).sum()

print(f"Number of strings: {string_count}")
print(f"Number of other types: {other_count}")

Number of strings: 45466
Number of other types: 0

<span style="color:orange">Los valores nulos del campo release date deben eliminarse.</span>

### Release

In [407]:
df.columns

Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'id_collection',
       'collection_name', 'genres', 'production_companies', 'spoken_languages',
       'production_countries'],
      dtype='object')

In [417]:
# Count null/NaN values
num_null = df['release_date'].isnull().sum()

# Count empty string values
num_empty = (df['release_date'] == '').sum()

print(f'Null values: {num_null}, Empty values: {num_empty}')

Null values: 87, Empty values: 0

In [409]:
df.shape

(45466, 25)

In [420]:
df = df[df['release_date'].notna()]

In [411]:
45466-87

45379

In [421]:
df.shape

(45379, 25)

<span style="color:orange">De haber fechas, deberán tener el formato AAAA-mm-dd, además deberán crear la columna release_year donde extraerán el año de la fecha de estreno.</span>

In [423]:
for i in df.iloc[0]:
    print(i)

False
30000000
http://toystory.disney.com/toy-story
862
tt0114709
en
Toy Story
Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.
21.946943
/rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1995-10-30
373554033.0
81.0
Released
nan
Toy Story
False
7.7
5415.0
10194.0
Toy Story Collection
Animation, Comedy, Family
Pixar Animation Studios
en
US

In [428]:
# Count null/NaN values
num_null = df['release_date'].isnull().sum()

# Count empty string values
num_empty = (df['release_date'] == '').sum()

print(f'Null values: {num_null}, Empty values: {num_empty}')

Null values: 0, Empty values: 0

In [431]:
df['release_date'][10:20]

10    1995-11-17
11    1995-12-22
12    1995-12-22
13    1995-12-22
14    1995-12-22
15    1995-11-22
16    1995-12-13
17    1995-12-09
18    1995-11-10
19    1995-11-21
Name: release_date, dtype: object

In [432]:
df['release_year'] = df['release_date'].str[:4]

/var/folders/5b/cj7qp6dx0rb7yfz06c2zb7ww0000gn/T/ipykernel_87951/2432464937.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['release_year'] = df['release_date'].str[:4]

<span style="color:orange">Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0.</span>

### Revenue

In [436]:
type(df['revenue'][0])

numpy.float64

In [437]:
# Count the number of float and other types
float_count = df['revenue'].apply(lambda x: isinstance(x, float)).sum()
other_count = df['revenue'].apply(lambda x: not isinstance(x, float)).sum()

print(f"Number of float: {float_count}")
print(f"Number of other types: {other_count}")

Number of float: 45379
Number of other types: 0

### Budget

In [439]:
# Count the number of strings and other types
string_count = df['budget'].apply(lambda x: isinstance(x, str)).sum()
other_count = df['budget'].apply(lambda x: not isinstance(x, str)).sum()

print(f"Number of strings: {string_count}")
print(f"Number of other types: {other_count}")

Number of strings: 45379
Number of other types: 0

In [441]:
# Count of values that can be formatted to float
count_float = df['budget'].apply(lambda x: True if isinstance(x, str) and (x.strip().replace(',', '').isdigit() or (x.strip().startswith('-') and x[1:].replace(',', '').isdigit())) else False).sum()

# Count of values that can't be formatted to float
count_not_float = len(df) - count_float

print("Count of values that can be formatted to float:", count_float)
print("Count of values that can't be formatted to float:", count_not_float)

Count of values that can be formatted to float: 45376
Count of values that can't be formatted to float: 3

In [442]:
df.shape

(45379, 26)

In [443]:
# Convert column to floats where possible, set non-convertible values to NaN
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')

# Drop rows with NaN values
df = df[df['budget'].notna()]

/var/folders/5b/cj7qp6dx0rb7yfz06c2zb7ww0000gn/T/ipykernel_87951/2327729489.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['budget'] = pd.to_numeric(df['budget'], errors='coerce')

In [444]:
df.shape

(45376, 26)

In [445]:
df['budget'].apply(lambda x: float(x))

0        30000000.0
1        65000000.0
2               0.0
3        16000000.0
4               0.0
            ...
45460           0.0
45462           0.0
45463           0.0
45464           0.0
45465           0.0
Name: budget, Length: 45376, dtype: float64

In [448]:
type(df['budget'][3])

numpy.float64

In [ ]:
df['return'] = df['revenue'] / df['budget']

In [ ]:
# Replace NaN with 0
df['return'] = df['return'].fillna(0)

# Replace inf with 0
df['return'] = df['return'].replace([np.inf, -np.inf], 0)

In [464]:
df['return'][10:20]

10    1.739992
11    0.000000
12    0.000000
13    0.310949
14    0.102218
15    2.232930
16    8.181818
17    1.075000
18    7.079518
19    0.590519
Name: return, dtype: float64

<span style="color:orange">Eliminar las columnas que no serán utilizadas, video,imdb_id,adult,original_title,vote_count,poster_path y homepage.</span>

In [466]:
df.columns

Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'id_collection',
       'collection_name', 'genres', 'production_companies', 'spoken_languages',
       'production_countries', 'release_year', 'return'],
      dtype='object')

In [467]:
df.shape

(45376, 27)

In [ ]:
df.drop(['video', 'imdb_id', 'adult', 'original_title', 'vote_count', 'poster_path', 'homepage'], axis=1, inplace=True)

In [470]:
df.shape

(45376, 20)

In [472]:
df.head(5)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,id_collection,collection_name,genres,production_companies,spoken_languages,production_countries,release_year,return
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,7.7,10194.0,Toy Story Collection,"Animation, Comedy, Family",Pixar Animation Studios,en,US,1995,12.451801
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,NaN,NaN,"Adventure, Fantasy, Family","TriStar Pictures, Teitler Film, Interscope Com...","en, fr",US,1995,4.043035
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,119050.0,Grumpy Old Men Collection,"Romance, Comedy","Warner Bros., Lancaster Gate",en,US,1995,0.000000
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,NaN,NaN,"Comedy, Drama, Romance",Twentieth Century Fox Film Corporation,en,US,1995,5.090760
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,96871.0,Father of the Bride Collection,Comedy,"Sandollar Productions, Touchstone Pictures",en,US,1995,0.000000

# Desarrollo API

#### FUNCTION 1

<span style="color:orange">def peliculas_mes(mes): '''Se ingresa el mes y la funcion retorna la cantidad de peliculas que se estrenaron ese mes (nombre del mes, en str, ejemplo 'enero') historicamente''' return {'mes':mes, 'cantidad':respuesta}</span>

In [478]:
# Convert whole df to string
df = df.astype(str)

In [481]:
# Remove .0 from string values
df['id_collection'] = df['id_collection'].astype(str).str.replace('\.0$', '', regex=True)

In [483]:
# Replace 'nan' strings with NaN values
df.replace('nan', np.NaN, inplace=True)

In [485]:
# Date
df['release_date'] = df['release_date'].fillna('')

In [489]:
df['month'] = df['release_date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d').strftime('%B') if x else '')

In [513]:
# Lowercase whole df
df = df.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [504]:
def peliculas_mes(mes: str): 
    '''Se ingresa el mes y la funcion retorna la cantidad de peliculas que se estrenaron ese mes (nombre del mes, en str, ejemplo 'enero') historicamente''' 
    
    respuesta = df['month'].str.contains(mes).sum()
    return {'mes':mes, 'cantidad':respuesta}

In [506]:
peliculas_mes('december')

{'mes': 'december', 'cantidad': 3786}

#### FUNCTION 2

<span style="color:orange">def peliculas_dia(dia): '''Se ingresa el dia y la funcion retorna la cantidad de peliculas que se estrenaron ese dia (de la semana, en str, ejemplo 'lunes') historicamente''' return {'dia':dia, 'cantidad':respuesta}</span>

In [511]:
def get_day_name(date_str):
    if isinstance(date_str, str):
        date_obj = datetime.datetime.strptime(date_str, '%Y-%m-%d')
        return date_obj.strftime('%A')
    else:
        return None

df['day'] = df['release_date'].apply(get_day_name)

In [514]:
# Lowercase whole df
df = df.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [522]:
day = 'sunday'
respuesta = df['day'].str.contains(day).sum()
respuesta

3613

In [523]:
def peliculas_dia(dia: str): 
    '''Se ingresa el dia y la funcion retorna la cantidad de peliculas que se estrenaron ese dia (de la semana, en str, ejemplo 'lunes') historicamente''' 
    
    respuesta = df['day'].str.contains(dia).sum()
    return {'dia':dia, 'cantidad':respuesta}

In [525]:
peliculas_dia('sunday')

{'dia': 'sunday', 'cantidad': 3613}

### FUNCTION 3

<span style="color:orange">def franquicia(franquicia): '''Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio''' return {'franquicia':franquicia, 'cantidad':respuesta, 'ganancia_total':respuesta, 'ganancia_promedio':respuesta}</span>

In [541]:
df.columns

Index(['budget', 'id', 'original_language', 'overview', 'popularity',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'vote_average', 'id_collection', 'collection_name', 'genres',
       'production_companies', 'spoken_languages', 'production_countries',
       'release_year', 'return', 'month', 'day'],
      dtype='object')

In [542]:
# Remove .0 from string values
df['revenue'] = df['revenue'].astype(str).str.replace('\.0$', '', regex=True)

In [543]:
# Remove .0 from string values
df['runtime'] = df['runtime'].astype(str).str.replace('\.0$', '', regex=True)

In [547]:
# Remove .0 from string values
df['budget'] = df['budget'].astype(str).str.replace('\.0$', '', regex=True)

In [551]:
# Convert columns to numeric
df[['budget', 'id', 'popularity', 'revenue', 'runtime', 'vote_average', 'id_collection', 'release_year', 'return']] = df[['budget', 'id', 'popularity', 'revenue', 'runtime', 'vote_average', 'id_collection', 'release_year', 'return']].apply(pd.to_numeric, errors='coerce')

In [568]:
collection = 'mortal kombat collection'

quantity_films = df['collection_name'].str.contains(collection).sum()
subset = df[df['collection_name'] == collection]
total_revenue = subset['revenue'].sum()
average_revenue = total_revenue / quantity_films

print(f'Quantity of films: {quantity_films}')
print(f'Total revenue: {total_revenue}')
print(f'Average revenue: {average_revenue}')

Quantity of films: 2
Total revenue: 173572781
Average revenue: 86786390.5

In [567]:
subset

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,id_collection,collection_name,genres,production_companies,spoken_languages,production_countries,release_year,return,month,day
43,18000000,9312,en,for nine generations an evil sorcerer has been...,10.870138,1995-08-18,122195920,101.0,released,nothing in this world has prepared you for this.,...,9818.0,mortal kombat collection,"action, fantasy","new line cinema, threshold entertainment",en,us,1995,6.788662,august,friday
1603,30000000,9823,en,a group of heroic warriors has only six days t...,6.532498,1997-11-21,51376861,95.0,released,"the world was created in six days, so too shal...",...,9818.0,mortal kombat collection,"action, fantasy, science fiction","new line cinema, threshold entertainment",en,us,1997,1.712562,november,friday

In [569]:
def franquicia(franquicia: str): 
    '''Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio''' 

    quantity_films = df['collection_name'].str.contains(franquicia).sum()
    subset = df[df['collection_name'] == franquicia]
    total_revenue = subset['revenue'].sum()
    average_revenue = total_revenue / quantity_films

    return {'franquicia':franquicia, 'cantidad':quantity_films, 'ganancia_total':total_revenue, 'ganancia_promedio':average_revenue}

In [570]:
franquicia('mortal kombat collection')

{'franquicia': 'mortal kombat collection',
 'cantidad': 2,
 'ganancia_total': 173572781,
 'ganancia_promedio': 86786390.5}

### FUNCTION 4

<span style="color:orange">def peliculas_pais(pais): '''Ingresas el pais, retornando la cantidad de peliculas producidas en el mismo''' return {'pais':pais, 'cantidad':respuesta}</span>

In [577]:
country = 'gb'

quantity_films = df['production_countries'].str.contains(country).sum()
subset = df[df['production_countries'] == country]

print(f'Quantity of films: {quantity_films}')

Quantity of films: 4091

In [578]:
def peliculas_pais(pais: str): 
    '''Ingresas el pais, retornando la cantidad de peliculas producidas en el mismo''' 

    quantity_films = df['production_countries'].str.contains(pais).sum()

    return {'pais':pais, 'cantidad':quantity_films}

In [579]:
peliculas_pais('gb')

{'pais': 'gb', 'cantidad': 4091}

### FUNCTION 5

<span style="color:orange">def productoras(productora): '''Ingresas la productora, retornando la ganancia total y la cantidad de peliculas que produjeron''' return {'productora':productora, 'ganancia_total':respuesta, 'cantidad':respuesta}</span>

In [614]:
producer = 'universal pictures'

quantity_films = df['production_companies'].str.contains(producer).sum()
subset = df[df['production_companies'].str.contains(producer)]
total_revenue = subset['revenue'].sum()
average_revenue = total_revenue / quantity_films

print(f'Quantity of films: {quantity_films}')
print(f'Total revenue: {total_revenue}')
print(f'Average revenue: {average_revenue}')

Quantity of films: 863
Total revenue: 55420412907
Average revenue: 64218323.18308227

In [616]:
def productoras(productora: str): 
    '''Ingresas la productora, retornando la ganancia total y la cantidad de peliculas que produjeron''' 

    quantity_films = df['production_companies'].str.contains(productora).sum()
    subset = df[df['production_companies'].str.contains(productora)]
    total_revenue = subset['revenue'].sum()

    return {'productora':productora, 'ganancia_total':total_revenue, 'cantidad':quantity_films}

In [617]:
productoras('universal pictures')

{'productora': 'universal pictures',
 'ganancia_total': 55420412907,
 'cantidad': 863}

### FUNCTION 6

<span style="color:orange">def retorno(pelicula): '''Ingresas la pelicula, retornando la inversion, la ganancia, el retorno y el año en el que se lanzo''' return {'pelicula':pelicula, 'inversion':respuesta, 'ganacia':respuesta,'retorno':respuesta, 'anio':respuesta}</span>

In [658]:
film = 'interstellar'

year =      df[df['title'] == film]['release_year'].iloc[0]
budget =    df[df['title'] == film]['budget'].iloc[0]
revenue =   df[df['title'] == film]['revenue'].iloc[0]
return_ =   df[df['title'] == film]['return'].iloc[0]

df[df['title'] == film]

,id,title,original_language,overview,popularity,release_date,budget,revenue,runtime,status,...,id_collection,collection_name,genres,production_companies,spoken_languages,production_countries,release_year,return,month,day
22879,157336,interstellar,en,interstellar chronicles the adventures of a gr...,32.213481,2014-11-05,165000000,675120017,169.0,released,...,NaN,NaN,"adventure, drama, science fiction","paramount pictures, legendary pictures, warner...",en,"ca, us, gb",2014,4.091636,november,wednesday

In [659]:
print(f'Movie: {film}')
print(f'Year: {year}')
print(f'Budget: {budget}')
print(f'Revenue: {revenue}')
print(f'Return: {return_}')

Movie: interstellar
Year: 2014
Budget: 165000000
Revenue: 675120017
Return: 4.0916364666666665

In [713]:
def retorno(pelicula: str): 
    '''Ingresas la pelicula, retornando la inversion, la ganancia, el retorno y el año en el que se lanzo''' 

    year =      df[df['title'] == pelicula]['release_year'].iloc[0]
    budget =    df[df['title'] == pelicula]['budget'].iloc[0]
    revenue =   df[df['title'] == pelicula]['revenue'].iloc[0]
    return_ =   df[df['title'] == pelicula]['return'].iloc[0]

    return {'pelicula':pelicula, 'inversion':budget, 'ganacia':revenue,'retorno':return_, 'anio':year}

In [714]:
retorno('interstellar')

{'pelicula': 'interstellar',
 'inversion': 165000000.0,
 'ganacia': 675120017.0,
 'retorno': 4.09,
 'anio': 2014}

### OTHER TRANSFORMATIONS

In [665]:
df['return'] = df['return'].apply(lambda x: round(x, 2))

In [624]:
# Reorder columns
new_order = ['id', 'title', 'original_language', 'overview', 'popularity', 'release_date', 'budget', 'revenue', 'runtime', 'status', 'tagline', 'vote_average', 'id_collection', 'collection_name', 'genres', 'production_companies', 'spoken_languages', 'production_countries', 'release_year', 'return', 'month', 'day']
df = df.reindex(columns=new_order)

In [670]:
df['production_companies'] = df['production_companies'].replace('', np.nan)
df['spoken_languages'] = df['spoken_languages'].replace('', np.nan)
df['production_countries'] = df['production_countries'].replace('', np.nan)

In [672]:
df[100:105]

,id,title,original_language,overview,popularity,release_date,budget,revenue,runtime,status,...,id_collection,collection_name,genres,production_companies,spoken_languages,production_countries,release_year,return,month,day
100,47475,mr. wrong,en,a single and lonely woman finds the seemingly ...,3.329264,1996-02-16,0,0,96.0,released,...,NaN,NaN,"comedy, romance",touchstone pictures,en,us,1996,0.00,february,friday
101,2045,unforgettable,en,ray liotta stars as a medical examiner who has...,2.464425,1996-02-23,18000000,0,106.0,released,...,NaN,NaN,"drama, mystery, science fiction, thriller","metro-goldwyn-mayer (mgm), dino de laurentiis ...",en,us,1996,0.00,february,friday
102,9614,happy gilmore,en,failed hockey player-turned-golf whiz happy gi...,9.592265,1996-02-16,12000000,41205099,92.0,released,...,NaN,NaN,comedy,"universal pictures, brillstein-grey entertainm...",en,us,1996,3.43,february,friday
103,688,the bridges of madison county,en,photographer robert kincaid wanders into the l...,5.951077,1995-05-28,24000000,182016617,135.0,released,...,NaN,NaN,"drama, romance","amblin entertainment, malpaso productions, war...",en,us,1995,7.58,may,sunday
104,11907,nobody loves me,de,no overview found.,1.015068,1994-11-07,0,0,104.0,released,...,NaN,NaN,"drama, comedy, family",NaN,de,de,1994,0.00,november,monday

In [674]:
# Save the DataFrame to a CSV file
df.to_csv('my_data.csv', index=False)

### FUNCTION 7 - MACHINE LEARNING

<span style="color:orange"> ML
 def recomendacion('titulo'):
     '''Ingresas un nombre de pelicula y te recomienda las similares en una lista'''
     return {'lista recomendada': respuesta}</span>

In [684]:
# Nearest neighbor

from sklearn.neighbors import NearestNeighbors
from scipy.sparse import csr_matrix
from sklearn.feature_extraction.text import CountVectorizer

In [679]:
# Load CSV files
df = pd.read_csv('./my_data.csv', delimiter=',', encoding='latin1', header=0)

In [697]:
df[600:620]

,id,title,original_language,overview,popularity,release_date,budget,revenue,runtime,status,...,id_collection,collection_name,genres,production_companies,spoken_languages,production_countries,return,day,month,release_year
600,275,fargo,en,"jerry, a small-town minnesota car salesman is ...",12.614690,1996-04-05,7000000.0,60611975.0,98.0,released,...,,,"crime, drama, thriller","polygram filmed entertainment, working title f...",en,us,8.66,friday,april,1996
601,25059,homeward bound ii: lost in san francisco,en,your favorite talking animals are back! the fi...,14.657754,1996-03-08,,32709423.0,89.0,released,...,43058.0,homeward bound collection,"adventure, comedy, drama, family",walt disney pictures,,"ca, us",,friday,march,1996
602,11827,heavy metal,en,a glowing orb terrorizes a young girl with a c...,7.640073,1981-08-07,9300000.0,,90.0,released,...,141086.0,heavy metal collection,"animation, science fiction",canadian film development corporation (cfdc),"en, hu",ca,,friday,august,1981
603,8766,hellraiser: bloodline,en,"in the 22nd century, a scientist attempts to r...",5.263187,1996-03-08,4000000.0,16675000.0,86.0,released,...,8917.0,hellraiser collection,"horror, thriller, science fiction","miramax films, dimension films, trans atlantic...",en,us,4.17,friday,march,1996
604,23570,the pallbearer,en,aspiring architect tom thompson is told by mys...,8.174116,1996-05-03,8000000.0,,97.0,released,...,,,"comedy, romance","miramax films, the chess club",en,us,,friday,may,1996
605,47333,jane eyre,en,jane eyre is an orphan cast out as a young gir...,2.420301,1996-02-09,,,112.0,released,...,,,"drama, romance",miramax films,"en, fr",us,,friday,february,1996
606,54850,loaded,en,a group of young friends convene in the countr...,0.618066,1996-04-12,500000.0,,91.0,released,...,,,"drama, mystery, thriller",,,,,friday,april,1996
607,51242,bread and chocolate,it,italian immigrant tries to become a member of ...,1.306628,1974-05-05,,,100.0,released,...,,,"comedy, foreign",,it,it,,sunday,may,1974
608,10112,the aristocats,en,when madame adelaide bonfamille leaves her for...,9.834047,1970-12-23,4000000.0,55675257.0,78.0,released,...,,,"animation, comedy, family, adventure",walt disney productions,en,us,13.92,wednesday,december,1970
609,4307,the flower of my secret,es,"marisa paredes is leocadia (""leo"") macias, a w...",2.286788,1995-09-22,,,107.0,released,...,,,"drama, romance","el deseo, ciby 2000",es,es,,friday,september,1995
610,46029,two much,en,a young gallerist is in love with two sisters ...,1.620174,1996-02-14,,,118.0,released,...,,,"comedy, romance","polygram filmed entertainment, lolafilms, touc...",en,"es, us",,wednesday,february,1996
611,32308,ed,en,jack cooper (matt leblanc) could be a world-cl...,5.174212,1996-03-15,,,94.0,released,...,,,"comedy, family",universal pictures,en,us,,friday,march,1996
612,88893,scream of stone,de,"a meeting of two world famous climbers, one an...",0.736081,1991-01-01,,,105.0,released,...,,,"adventure, drama, documentary",,"it, en",,,tuesday,january,1991
613,52873,my favorite season,fr,old woman berthe leaves her house to live in h...,0.516924,1993-05-14,,,127.0,released,...,,,drama,"tf1 films productions, les films alain sarde",fr,fr,,friday,may,1993
614,123505,a modern affair,en,a modern affair is an independent feature dire...,0.173207,1996-09-06,,,90.0,released,...,,,,,en,,,friday,september,1996
615,340210,condition red,en,prison guard falls in love with inmate. she wa...,0.793932,1995-12-08,,,83.0,released,...,,,"thriller, action, drama",,en,us,,friday,december,1995
616,44281,halfaouine: boy of the terraces,en,twelve-year-old noura dangles uncertainly in t...,1.983301,1990-01-01,,,98.0,released,...,,,"comedy, drama","cinÃ£Â©tÃ£Â©lÃ£Â©films, france mÃ£Â©dia, les f...",ar,"fr, it, tn",,monday,january,1990
617,28121,a thin line between love and hate,en,nightclub manager darnell wright is a perpetua...,2.256747,1996-04-04,,,108.0,released,...,,,"comedy, thriller, crime, romance","new line cinema, savoy pictures",en,us,,thursday,april,1996
618,12520,the last supper,en,"a group of idealistic, but frustrated, liberal...",4.619915,1995-09-08,,442965.0,92.0,released,...,,,"comedy, thriller, crime, drama","columbia pictures corporation, the vault, wf/x",en,us,,friday,september,1995
619,1592,primal fear,en,"an arrogant, high-powered attorney takes on th...",10.326213,1996-04-03,30000000.0,102616183.0,129.0,released,...,,,"crime, drama, mystery, thriller",paramount pictures,"en, es",us,3.42,wednesday,april,1996

In [683]:
df[['tagline','vote_average']]

                                                 tagline  vote_average
0                                                    NaN           7.7
1              roll the dice and unleash the excitement!           6.9
2      still yelling. still fighting. still ready for...           6.5
3      friends are the people who let you be yourself...           6.1
4      just when his world is back to normal... he's ...           5.7
...                                                  ...           ...
45371                                                NaN           5.7
45372                                                NaN           9.0
45373                             a deadly game of wits.           3.8
45374                                                NaN           NaN
45375                                                NaN           NaN

[45376 rows x 2 columns]

In [707]:
def recomendacion(titulo: str):

    # Replace NaN values with empty string
    df.fillna('', inplace=True)

    # Convert column 'vote_average' to string
    df['vote_average'] = df['vote_average'].astype(str)

    # Create a feature matrix using a sparse matrix
    text = df['title'] + ' ' + df['vote_average'] + ' ' + df['genres']
    vectorizer = CountVectorizer(min_df=2)
    X = vectorizer.fit_transform(text)
    sparse_X = csr_matrix(X)

    # Fit a nearest neighbor model on the feature matrix
    nn = NearestNeighbors(n_neighbors=6, algorithm='brute', metric='cosine')
    nn.fit(sparse_X)

    # Define a function to recommend similar movies
    def recommend(movie, nn_model, df, k=5):
        idx = df[df['title'] == movie].index[0]
        distances, indices = nn_model.kneighbors(X[idx], n_neighbors=k+1)
        titles = df.iloc[indices[0], :]['title']
        return list(titles.iloc[1:])

    # Recomend movies
    answer = recommend(titulo, nn, df)

    return {'lista recomendada': answer}

In [708]:
recomendacion('heavy metal')

{'lista recomendada': ['9',
  'mutafukaz',
  'cencoroll',
  'heavy metal 2000',
  'technotise: edit & i']}